*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
h1{
    font-family: "Lobster", sans-serif;
    text-align: center;
    margin-top: 6vh;
    font-size: 40px;
}

.choice{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.character{
    box-sizing: border-box;
    width: 190px;
    height: 275px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-top: 145px;
}

.character:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .character:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.character-txt{
    display: flex;
    justify-content: flex-end;
}
.zuko{
    background-image: url(/imagens/zukoFire.jpg);
    background-position: center;
    background-size: cover;
}
.ozai{
    background-image: url(/imagens/Ozai.jpg);
    background-position: center;
    background-size: cover;
}
.azula{
    background-image: url(/imagens/Azula.jpg);
    background-position: center;
    background-size: cover;
}




