*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

section.header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/imagens/AangVerso.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    
}
.overlay{
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
}

.container-button{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.button{
    height: 120px;
    width: 120px;
    border-radius: 180px;
    background-size: cover;
    opacity: 1;
    border-width: 3px;
    margin-bottom: 10vh;
    cursor: pointer;
}
.fire{
    background-image: url(/imagens/EmblemaFireNation.webp);
    border-color: #a70202;

}
.ar{
    background-image: url(/imagens/emblemaAr.jpg);
    border-color: rgb(137, 135, 135);
}
.agua{
    background-image: url(/imagens/emblemaWaterNation.png);
    border-color: #3c00ff;
}
.terra{
    background-image: url(/imagens/emblemaEarthNation.jpg);
    border-color: rgb(12, 191, 24);
}
p{
    z-index: 1;
    position: relative;
}